:host{
    padding: 1rem 3rem;
    .row{
      &:focus-visible{
        border: none;
        outline:none;
      }
    }
}
.card{
    min-height: 445px;
    max-height: 545px;
}
.tickets__list{
    padding: .5rem 0;
    width: 100%;
    height: 100%;
    .card .card-body{
      max-height: 240px;
      // overflow: hidden;
      .card-text{
        // height: 145px;
        // max-height: 145px;
        overflow: hidden;
        // max-height: 110px;
      }
    }
    >.tickets__empty{
        text-align: center;
        margin:2rem 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items:center;
        >div{
            margin: 0 .5rem;
        }
    }
}
