<div class="d-flex flex-column auth__form">
       <p class="fs-2 align-self-center">Авторизация</p>
       <div class="input-group">
              <span class="input-group-text form__label">Имя пользовотеля</span>
              <input type="text" class="form-control"
                     type="text"
                     pInputText
                     [(ngModel)]="logIn"/>
       </div>
       <div class="input-group mt-3">
              <span class="input-group-text form__label">Пароль</span>
              <input type="text" class="form-control"
                     type="password" 
                     pInputText
                     [(ngModel)]="pswd"/>
       </div>
       <div class="mt-3">              
              <p-checkbox
                     [(ngModel)]="checkedVIP"
                     [binary]="true"
                     inputId="binary"
                     label="Есть карточка постоянного покупателя"
              >
              </p-checkbox>
       </div>
       <div *ngIf="checkedVIP"  class="input-group mt-3">
              <span class="input-group-text form__label">Карта</span>
              <input class="form-control"
                     type="text" 
                     pInputText
                     [(ngModel)]="vipCardNumber"
                     placeholder="Укажите номер карты"
              />
       </div>
</div>