<div class="setting">
  <p class="mt-4 h3">Настройки</p>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/tickets/list">Назад</a></li>
      <li class="breadcrumb-item active" aria-current="page">Настройки</li>
    </ol>
  </nav>
  <div>
    <p-tabView>
      <p-tabPanel [cache]="isTabCaching" header="Пользователи">
        <ng-template pTemplate="content">
          <app-users></app-users>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel [cache]="isTabCaching" header="Смена пароля">
        <ng-template  pTemplate="content">
          <app-change-password></app-change-password>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel [cache]="isTabCaching" header="Статистика">
        <ng-template pTemplate="content">
          <app-statistic></app-statistic>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel [cache]="isTabCaching" header="Загрузка тура">
        <ng-template pTemplate="content">
          <app-tour-loader></app-tour-loader>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
