.not-found{
    padding: 1rem 2rem;
    .h2{
        margin-left: 20px;
    }
    .heading{
        color: #2020CC ;
    }
    .img{
        max-width: 100%;
    }
    p{
        text-align: center;
        text-transform: uppercase;
    }
}