<div class="not-found">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/tickets/list">Назад</a></li>
          <li class="breadcrumb-item active" aria-current="page" >404</li>
        </ol>
      </nav>
    </div>
    <div class="row heading">
        <p><span class="h4">...извините, но</span><span class="h2">Запрашиваемый ресурс ненайден!</span></p>
    </div>
    <div class="row">
        <img src="/assets/img/404.png" class="img">
    </div>
</div>  
