<div class="a-side">
  <div class="dd-group d-flex flex-column">
    <span class="p-float-label">
      <p-dropdown [options]="tourTypes"
                  [(ngModel)]="selectedTourType"
                  optionLabel="label" inputId="ttType"
                  [style]="{width:'100%',autoWidth :false}"
                  (onChange)="changeTourType($event)"
                  [tabindex]="6"
      >
      </p-dropdown>
      <label for="tType">Тип тура</label>
    </span>
  </div>
  <div class="dd-group d-flex flex-column">
    <span class="p-float-label">
      <p-calendar
        [(ngModel)]="selectedTourDate"
        (ngModelChange)="checkDate()"
        [showButtonBar]="true"
        [tabindex]="7"
      ></p-calendar>
      <label for="tType">Дата</label>
    </span>
  </div>
  <div class="dd-group d-flex flex-column">
    <button class="btn btn-danger" (click)="initRestError()">Ошибка</button>
  </div>
  <div class="dd-group d-flex flex-column">
    <button class="btn btn-outline-primary" (click)="initSettingData()">Init setting</button>
  </div>
  <div class="dd-group d-flex flex-column">
    <button class="btn btn-outline-primary" (click)="initTours()" [disabled]="!orderButtonsIsOperated">Добавить туры</button>
  </div>
  <div class="dd-group d-flex flex-column">
    <button class="btn btn-outline-primary" (click)="deleteTours()"  [disabled]="!orderButtonsIsOperated">Удалить туры</button>
  </div>
</div>
