:host{
    background: #FAFAFA;
    width: 200px;
    height: 100%;
    display: block;
    padding: 2rem 1rem;
}
// .aside__dd{
//     background: green;
//     .p-component{
//         background: red;;
//         width: 168px;
//         display: flex!important;
//     }
// }