<div class="change-password">
  <div class="password__form text-center" [formGroup]="uForm">
    <div class="card w-75 d-inline-block">
      <div class="card-header">
        Изменить пароль
      </div>
      <div class="card-body text-start">
        <div class="input-group has-validation mb-4">
          <div
            class="form-floating"
            [class]="{
              'is-invalid':oldPassword.invalid && oldPassword.touched,
              'is-valid':oldPassword.valid && oldPassword.touched
            }"
          >
            <input
              type="password"
              formControlName="oldPassword"
              class="form-control is-invalid"
              [class]="{
                'is-invalid':oldPassword.invalid && oldPassword.touched,
                'is-valid':oldPassword.valid && oldPassword.touched
              }"
              id="floatingInputGroup1" placeholder="Password">
            <label for="floatingInputGroup1">Старый пароль</label>
          </div>
          <div *ngIf="oldPassword.errors?.['required']" class="invalid-feedback">Поле &laquo;Старый пароль&raquo; должно быть заполнено.</div>
          <div *ngIf="oldPassword.errors?.['wrongPassword']" class="invalid-feedback">Не верный пароль!.</div>
        </div>
        <div class="input-group has-validation mb-4">
          <div
            class="form-floating"
            [class]="{
              'is-invalid':newPassword.invalid && newPassword.touched,
              'is-valid':newPassword.valid
            }"
          >
            <input
              type="password"
              formControlName="newPassword"
              class="form-control"
              [class]="{
                'is-invalid':newPassword.invalid && newPassword.touched,
                'is-valid':newPassword.valid
              }"
              id="floatingInputGroup2" placeholder="NewPassword">
            <label for="floatingInputGroup2">Новый пароль</label>
          </div>
          <div *ngIf="newPassword.errors?.['required']" class="invalid-feedback">Поле &laquo;Новый пароль&raquo; должно быть заполнено.</div>
          <div *ngIf="newPassword.errors?.['minlength']" class="invalid-feedback">Поле &laquo;Новый пароль&raquo; должно быть длиной не менее 8-и сим.</div>
        </div>
        <div class="input-group has-validation">
          <div
            class="form-floating"
            [class]="{
              'is-invalid':confirmPassword.invalid && newPassword.value,
              'is-valid':confirmPassword.valid
            }"
          >
            <input
              type="password"
              formControlName="confirmPassword"
              [class]="{
                'is-invalid':confirmPassword.invalid && newPassword.value,
                'is-valid':confirmPassword.valid
              }"
              class="form-control"
              id="floatingInputGroup3" placeholder="ConfirmPassword">
            <label for="floatingInputGroup3">Повторите новый пароль</label>
          </div>
          <!-- <div *ngIf="confirmPassword.errors?.['required']" class="invalid-feedback">Поле &laquo;Повторите новый пароль&raquo; должно быть заполнено.</div> -->
          <div *ngIf="
            confirmPassword.errors?.['passDoesNotMatch'] || confirmPassword.errors?.['required']
          " class="invalid-feedback">Пароли не совпадают</div>
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <button class="btn btn-success" [disabled]="uForm.invalid" (click)="saveClick()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
