<div class="ticket">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/tickets/list">Назад</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="ticket">{{ticket.name}}</li>
      </ol>
    </nav>
  </div>
  <div class="loader" style="min-height: 6px;">
    <p-progressBar *ngIf="showLoader" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  </div>
  <div class="row">
  <div class="ticket__info">
    <div *ngIf="ticket" class="card mb-3" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="{{createUrl( ticket.img )}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">Информация о туре</h4>
            <h5 class="card-title">{{ticket.name}}</h5>
            <p class="card-text">{{ticket.description}}</p>
            <p class="card-text">Туроператор:&nbsp;&laquo;{{ticket.tourOperator}}&raquo;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <h4 class="card-title">Личная информация</h4>
    <div class="ticket__form" [formGroup]="userForm">
      <div class="row">
      <div class="col">
        <div class="input-group has-validation">
          <input
            formControlName="firstName"
            type="text"
            class="form-control form-control-lg"
            [class]="{
              'is-invalid':firstName.invalid && firstName.touched,
              'is-valid':firstName.valid && firstName.touched
            }"
            placeholder="Имя"
            aria-label="First name"
          >
          <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">Поле должно быть заполнено</div>
        </div>
      </div>
      <div class="col">
        <div class="input-group has-validation">
          <input formControlName="lastName" type="text" class="form-control form-control-lg" placeholder="Фамилия" aria-label="Last name" [class]="{
              'is-invalid':lastName.invalid && lastName.touched,
              'is-valid':lastName.valid && lastName.touched
          }">
          <div *ngIf="lastName.errors?.['required']" class="invalid-feedback">Поле должно быть заполнено</div>
          <div *ngIf="lastName.errors?.['minlength']" class="invalid-feedback">Поле должно быть не менее 2-х символов</div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group has-validation input-group-ng input-100">
            <p-inputNumber
              formControlName="age"
              (useGrouping)="false"
              [showButtons]="true"
            ></p-inputNumber>
            <div *ngIf="age.errors?.['min']" class="invalid-feedback visible">Возраст не менее 21</div>
          </div>
        </div>
        <div class="col">
          <div class="input-group input-group-ng input-100">
            <p-calendar
              formControlName="birthDay"
              (useGrouping)="false"
              [showButtonBar]="true"
              placeholder="День рождения"
            ></p-calendar>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input
              formControlName="citizen"
              type="text"
              class="form-control form-control-lg"
              placeholder="Гражданство"
              aria-label="citizen"
            >
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <button class="form-control form-control-lg btn btn-success" [disabled]="userForm.invalid" (click)="sendOrderClick()">Перейти к оформлению</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="card">
      <div class="card-header">Туры</div>
      <div class="card-body">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Поиск по названию:</span>
          <input
            #ntSearchElement
            type="text"
            class="form-control"
            aria-label="search by name"
            aria-describedby="inputGroup-sizing-sm"
            tabindex="1"
          >
          <button tabindex="2" class="btn btn-outline-secondary" type="button" id="button-clear-search" (click)="clearSearchField()">Очистить</button>
        </div>
        <div class="loader" style="min-height: 6px;">
          <p-progressBar *ngIf="showLoader2" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </div>
        <p-carousel [value]="nearestTours">
          <ng-template let-tour pTemplate="item">
            <figure class="figure mt-3">
              <figcaption class="figure-caption text-center fs-4">{{tour.name}}</figcaption>
              <img src="{{createUrl( tour.img )}}" class="figure-img img-fluid rounded" alt="...">
              <!-- <figcaption class="figure-caption text-start fs-5">Страна: {{tour.country.name}}</figcaption> -->
            </figure>
          </ng-template>
        </p-carousel>
      </div>
    </div>
</div>

