.ticket{
  padding: .5rem 1rem;
  >.ticket__info{
    >.ticket__content .card-text{
      padding: 1rem 2rem;
      background: rgba(0,0,100,.27);
    }
    >.ticket__notfound{
      text-align: center;
    }
  }
  >.ticket__form{
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
  }
}
