<app-orders-header></app-orders-header>
<div class="orders">
  <p-treeTable [value]="tableData$ | async" styleClass="p-treetable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th class="column-min">Тип</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td class="column-first">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
            </td>
            <td>{{rowData.description}}</td>
            <td>{{rowData.type}}</td>
        </tr>
    </ng-template>
  </p-treeTable>
</div>
